body {
  background-color: #282c34;
  color: white;
}

.App {
  text-align: center;
}

.FormMovie {
  width: 600px;
  margin: 0 auto;
  text-align: left;
}

.FormMovie h1 {
  text-align: center;
}

.FormMovie .form-data {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

.FormMovie .form-data label {
  display: inline-block;
  width: 100px;
  margin-top: 10px;
  margin-right: 10px;
  text-align: right;
  line-height: 2;
}

.FormMovie .form-data input:not([type="submit"]),
textarea {
  flex-grow: 1;
  height: 30px;
  border-radius: 5px;
  margin: 10px auto;
  font-size: 1rem;
}

.FormMovie .form-data textarea {
  height: 50px;
  font-family: inherit;
}

.FormMovie .submitButton {
  margin-top: 10px;
  padding: 12px;
  border-radius: 5px;
  border: none;
  background-color: grey;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.FormMovie .submitButton:hover {
  opacity: 0.5;
}
